@model IEnumerable<Ferpuser.Models.Registration>

@{
    ViewData["Title"] = "Listado por centro de trabajo";
    ViewData["Create"] = false;
    ViewData["Back"] = false;
    ViewData["OneCard"] = false;
    ViewData["Select2"] = true;
    ViewData["Report"] = true;
}
<div class="row d-print-none mb-4">
    <div class="col-12">
        <div class="card">
            <form class="card-body d-flex justify-content-around align-items-end flex-column flex-sm-row">
                <div class="form-group flex-grow-1 ml-2">
                    <label for="CongressId" class="control-label">Congreso</label>
                    <select id="CongressId" name="CongressId" class="browser-default custom-select select2" asp-items="ViewBag.CongressId">
                        <option value="">
                            Todos
                        </option>
                    </select>
                </div>
                <div class="form-group flex-grow-1 ml-2">
                    <label for="Workplace" class="control-label">Centro de trabajo</label>
                    <select id="Workplace" name="Workplace" class="browser-default custom-select select2" asp-items="ViewBag.Workplaces">
                        <option value="">
                            Todos
                        </option>
                    </select>
                </div>

                <div class="form-group flex-grow-1 ml-2">
                    <label for="City" class="control-label">Población</label>
                    <select id="City" name="City" class="browser-default custom-select select2" asp-items="ViewBag.Cities">
                        <option value="">
                            Todas
                        </option>
                    </select>
                </div>
                <div class="form-group btn-group btn-group-sm mb-2">
                    <button class="btn btn-primary btn-sm"><i class="fas fa-sync fa-2x"></i></button>
                    <button class="btn btn-primary btn-sm" type="button" onclick="window.print()"><i class="fas fa-print fa-2x"></i></button>
                </div>

            </form>
        </div>
    </div>
</div>

@if (Model != null && Model.Any())
{
    <div class="row">
        <div class="col-12">
            <div class="card">
                @if (Model.GroupBy(r => r.CongressId).Count() == 1)
                {
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <img src="@Model.FirstOrDefault().Congress.LogoBase64" class="w-50" />
                        <img src="~/img/sanicongress.jpg" class="w-25" />
                    </div>
                }

                <div class="col-12 text-center">
                    <h1 class="mb-2 mb-sm-0 pt-1 h4">
                        @ViewData["Title"]
                    </h1>
                </div>
                <div class="card-body">
                    @{
                        var i = 0;
                        var pageN = 0;
                    }
                    @while (i < Model.Count())
                    {
                        var p = 24;
                        if (pageN == 0)
                        {
                            p = 22;
                        }
                        pageN++;
                        <table class="table table-sm">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Registrant.Workplace)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Registrant.Surnames)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Registrant.Name)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Registrant.Location.City)
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (var j = 0; j < p && i < Model.Count(); j++, i++)
                                {
                                    var item = Model.ToArray()[i];
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Registrant.Workplace)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Registrant.Surnames)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Registrant.Treatment.Name) @Html.DisplayFor(modelItem => item.Registrant.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Registrant.Location.City)
                                        </td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr class="font-larger">
                                    <th>
                                        Página @pageN
                                    </th>
                                    <th colspan="3" class="text-right">
                                        @ViewHelpers.PadCongress(Model.FirstOrDefault().Congress.Number)
                                        @Model.FirstOrDefault().Congress.Name
                                    </th>
                                </tr>
                            </tfoot>
                        </table>
                    }
                </div>

                <div class="card-footer text-right">
                    <span class="mx-5">
                        @Model.Count()
                    </span>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#CongressId").change(function () {
                $("#Workplace")[0].selectedIndex = 0
                $("#Workplace").trigger("change")
                $("#City")[0].selectedIndex = 0
                $("#City").trigger("change")
            });
        });
    </script>
}