@model IEnumerable<Ferpuser.Models.Registration>

@{
    var paid = ViewData.ContainsKey("Paid") && ViewData["Paid"] is String ? ViewData["Paid"] : "All";
    @if (paid.Equals("Paid"))
    {
        ViewData["Title"] = "Inscripciones pagadas";
    }
    else if (paid.Equals("Unpaid"))
    {
        ViewData["Title"] = "Inscripciones pendientes de pago";
    }
    else
    {
        ViewData["Title"] = "Importe Total Inscripciones";
    }
    ViewData["Create"] = false;
    ViewData["Back"] = false;
    ViewData["OneCard"] = false;
    ViewData["Select2"] = true;
    ViewData["Report"] = true;
}
<div class="row d-print-none mb-4">
    <div class="col-12">
        <div class="card">
            <form class="card-body d-flex justify-content-around align-items-center flex-column flex-sm-row">
                <div class="form-group flex-grow-1">
                    <label for="CongressId" class="control-label">Congreso</label>
                    <select id="CongressId" name="CongressId" class="browser-default custom-select select2" asp-items="ViewBag.CongressId">
                        <option value="">
                            Todos
                        </option>
                    </select>
                </div>
                <div class="custom-control custom-checkbox d-flex align-items-center ml-2">
                    <div class="form-group flex-grow-1">
                        <label for="Paid" class="control-label">Estado</label>
                        <select id="Paid" name="Paid" class="browser-default custom-select select2">
                            @if (paid.Equals("All"))
                            {
                                <option value="All" selected>
                                    Todos
                                </option>
                            }
                            else
                            {
                                <option value="All">
                                    Todos
                                </option>
                            }
                            @if (paid.Equals("Paid"))
                            {
                                <option value="Paid" selected>
                                    Pagadas
                                </option>
                            }
                            else
                            {
                                <option value="Paid">
                                    Pagadas
                                </option>
                            }
                            @if (paid.Equals("Unpaid"))
                            {
                                <option value="Unpaid" selected>
                                    Pendientes
                                </option>
                            }
                            else
                            {
                                <option value="Unpaid">
                                    Pendientes
                                </option>
                            }
                        </select>
                    </div>
                </div>

                <div class="form-group mx-1">
                    <label for="Filter" class="control-label">Filtro</label>
                    <select id="Filter" name="Filter" class="select2">
                        <option value="0">
                            Mostrar todo
                        </option>
                        <option value="1">
                            Mostrar "Sólo facturación"
                        </option>
                        <option value="2">
                            Excluir "Sólo facturación"
                        </option>
                    </select>
                </div>
                <div class="form-group btn-group btn-group-sm mb-0">
                    <button class="btn btn-primary btn-sm mb-0"><i class="fas fa-sync fa-2x"></i></button>
                    @if (Model.Any())
                    {
                        <button class="btn btn-primary btn-sm mb-0" type="button" onclick="window.print()"><i class="fas fa-print fa-2x"></i></button>
                        <a class="btn btn-primary btn-sm mb-0" asp-action="PaidPendingCsv" asp-route-congressId="@Model.FirstOrDefault().CongressId" asp-route-Filter="@ViewData["Filter"]" asp-route-Paid="@ViewData["Paid"]">
                            <i class="fas fa-file-csv fa-2x"></i>
                        </a>
                    }
                </div>

            </form>
        </div>
    </div>
</div>

@if (Model.Any())
{
    <div class="row">
        <div class="col-12">
            <div class="card">
                @if (Model.GroupBy(r => r.CongressId).Count() == 1)
                {

                    <div class="card-header d-flex justify-content-between align-items-center">
                        <img src="@Model.FirstOrDefault().Congress.LogoBase64" class="w-50" />
                        <img src="~/img/sanicongress.jpg" class="w-25" />
                    </div>
                }
                <div class="col-12 text-center">
                    <h1 class="mb-2 mb-sm-0 pt-1 h4">
                        @ViewData["Title"]
                    </h1>
                </div>
                <div class="card-body">                    
                    
                        <table class="table table-sm">
                            <thead>
                                <tr class="font-larger">
                                    <th>
                                        @Html.DisplayNameFor(model => model.Registrant.Surnames)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Registrant.Name)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.RegistrationType)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.InvoiceNumber)
                                    </th>
                                    <th class="text-right">
                                        @Html.DisplayNameFor(model => model.Fee)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Client)
                                    </th>
                                    <th class="text-center">
                                        @Html.DisplayNameFor(model => model.Paid)
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Registrant.Surnames)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Registrant.Treatment.Name) @Html.DisplayFor(modelItem => item.Registrant.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.RegistrationType.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.InvoiceNumber)
                                        </td>
                                        <td class="text-right">
                                            @Html.DisplayFor(modelItem => item.Fee)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Client.BusinessName)
                                        </td>
                                        <td class="text-center">
                                            @Html.DisplayFor(modelItem => item.Paid)
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    
                </div>
                <div class="card-footer text-right d-flex justify-content-end">
                    <span class="mx-5">
                        Inscripciones: @Model.Count()
                    </span>
                    <span>
                        Total: @Model.Sum(m => m.Fee)€
                    </span>
                </div>
            </div>
        </div>
    </div>
}
@section Scripts {
    <script>
        $(e => {
            $("#Filter").val(@(ViewData["Filter"])).trigger('change');
        });
    </script>
}