@model Ferpuser.Models.CongressEmailAccounts

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CongressEmailAccounts</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Congress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Congress.Code)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Account)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Account.Name)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IncomingMailServer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IncomingMailServer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OutgoingMailServer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OutgoingMailServer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IncomingMailPort)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IncomingMailPort)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OutgoingMailPort)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OutgoingMailPort)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MailUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MailUser)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MailPassword)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MailPassword)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SignatureBefore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SignatureBefore)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Signature)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Signature)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SignatureAfter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SignatureAfter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Created)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Created)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Modified)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Modified)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Deleted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Deleted)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
