@using Ferpuser.BLL.Filters
@model InventarioArticulosAlmacen

<div id="divPartePersonal">
    @Html.HiddenFor(f => f.Id)
    <div class="card mb-4 wow d-print-none">
        <div class="form-row card-body">
            <div class="form-group col-md-2">
                @Html.LabelFor(f => f.FechaUltiActu, new { @class = "small" })
                @Html.EditorFor(f => f.FechaUltiActu, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(f => f.FechaUltiActu, "", new { @class = "text-danger small" })
            </div>
            <div class="form-group col-md-5">
                @Html.LabelFor(f => f.ArticulosAlmacenId, new { @class = "small" })
                @Html.DropDownListFor(f => f.ArticulosAlmacenId, new SelectList(ViewBag.ArticulosAlmacen, "Id", "Display"), "-Seleccionar-", new { @class = "form-control form-control-sm select2", onchange = "refreshCombo('ArticulosAlmacenId');" })
                @Html.ValidationMessageFor(f => f.ArticulosAlmacenId, "", new { @class = "text-danger small" })
            </div>
            @if (ViewBag.Tarifa != null)
            {
                <div class="form-group col-md-2">
                    @Html.Label("etiqueta", ViewBag.Tarifa, new { @class = "small" })
                    @Html.EditorFor(f => f.Unidades, new { htmlAttributes = new { @class = "form-control", onchange = "refresh('TariffTypeUnits');" , onkeyup = "ReplaceDotByComma(this);"} })
                    @Html.ValidationMessageFor(f => f.Unidades, "", new { @class = "text-danger small" })
                </div>
            }
        </div>
            <script>
            function refreshCombo(campo) {            
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("Refrescar", "InventarioArticulosAlmacen")",
                    data: $('#form').serialize(),
                    success: function (response) {
                        $("#divPartePersonal").html(response);
                        if (campo == 'ArticulosAlmacenId')
                            $("#TariffTypeUnits").focus();
                    },
                    failure: function (response) {
                        alert("Que paso?? " + response.responseText);
                    },
                    error: function (response) {
                        alert("Hola?? " + response.responseText);
                    }
                });
            }
            function refresh(campo) {            
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("RefrescarPrecio", "InventarioArticulosAlmacen")",
                    data: $('#form').serialize(),
                    success: function (response) {
                        $("#divPartePersonal").html(response);
                        if (campo == 'TariffTypeUnits')
                            $("#TariffTypeUnits2").focus();
                        if (campo == 'TariffTypeUnits2')
                            $("#Price").focus();
                    },
                    failure: function (response) {
                        alert("Que paso?? " + response.responseText);
                    },
                    error: function (response) {
                        alert("Hola?? " + response.responseText);
                    }
                });
            }

        
        </script>
    </div>
</div>