@model PartePersonal

<div id="divPartePersonal">
    @Html.HiddenFor(f => f.Id)
    @Html.HiddenFor(f => f.TipoParte)
    <div class="card mb-4 wow d-print-none">
        <div class="form-row card-body">
            @if (Model != null && Model.Id != 0)
            {
            <div class="form-group col-md-12">
                <span class="badge badge-danger">Id: @Model.Id</span>
            </div>
            }

                    <div class="form-group col-md-5">
                        @Html.LabelFor(f => f.PersonalId, new { @class = "small" })
                        @Html.DropDownListFor(f => f.PersonalId, new SelectList(ViewBag.Personal, "Id", "Nombre"), "-Seleccionar-", new { @class = "form-control form-control-sm select2", onchange = "refresh('Personal');" })
                        @Html.ValidationMessageFor(f => f.PersonalId, "", new { @class = "text-danger small" })
                    </div>
                    <div class="form-group col-md-2">
                        @Html.LabelFor(f => f.Fecha, new { @class = "small" })
                        @Html.EditorFor(f => f.Fecha, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(f => f.Fecha, "", new { @class = "text-danger small" })
                    </div>
                    <div class="form-group col-md-5">
                        @Html.LabelFor(f => f.CentroCosteId, new { @class = "small" })
                        @Html.DropDownListFor(f => f.CentroCosteId, new SelectList(ViewBag.CentrosCoste, "Id", "Display"), "-Seleccionar-", new { @class = "form-control select2" })
                        @Html.ValidationMessageFor(f => f.CentroCosteId, "", new { @class = "text-danger small" })
                    </div>
                    <div class="form-group col-md-2">
                        @Html.LabelFor(f => f.Unidades, new { @class = "small" })
                        @Html.EditorFor(f => f.Unidades, new { htmlAttributes = new { @class = "form-control", onchange = "refresh();", onkeyup = "ReplaceDotByComma(this);" } })
                        @Html.ValidationMessageFor(f => f.Unidades, "", new { @class = "text-danger small" })
                    </div>
                    <div class="form-group col-md-2">
                        @Html.LabelFor(f => f.Precio, new { @class = "small" })
                        <div class="input-group">
                            @Html.TextBoxFor(f => f.Precio, new { @class = "form-control text-right", onchange = "refresh();", onkeyup = "ReplaceDotByComma(this);" })
                            <div class="input-group-append">
                                <span class="input-group-text">
                                    <i class="fas fa-euro-sign small" aria-hidden="true"></i>
                                </span>
                            </div>
                        </div>
                        @Html.ValidationMessageFor(f => f.Precio, "", new { @class = "text-danger small" })
                    </div>
                    <div class="form-group col-md-2">
                        @Html.LabelFor(f => f.Importe, new { @class = "small" })
                        <div class="input-group">
                            @Html.TextBoxFor(f => f.Importe, new { @class = "form-control text-right", disabled = "disabled" })
                            <div class="input-group-append">
                                <span class="input-group-text">
                                    <i class="fas fa-euro-sign small" aria-hidden="true"></i>
                                </span>
                            </div>
                        </div>
                        @Html.ValidationMessageFor(f => f.Importe, "", new { @class = "text-danger small" })
                    </div>

                </div>
            </div>

    <script>
        function refresh(campo) {            
            $.ajax({
                type: "POST",
                url: "@Url.Action("Refresh", "PartePersonal")",
                data: $('#form').serialize(),
                success: function (response) {
                    $("#divPartePersonal").html(response);
                    if (campo == 'Personal')
                        $("#Fecha").focus();
                    $('.select2').select2();
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        }

        
    </script>
</div>