@using Ferpuser.Models.Core
@using Ferpuser.BLL.Filters
@using Ferpuser.Models
@model IEnumerable<Tikect>
@{
    List<Tikect> listaTikects = new List<Tikect>();
    decimal total = 0;

    ViewData["OcultarBarraTareasLayout"] = true;
    ViewData["OneCard"] = false;
    ViewData["Select2"] = true;

    TableHeaderSortable th;
    //var pager = ViewData["Pager"];
    TikectFilter filter = new TikectFilter();
}
<form>
    @*<input type="hidden" name="currentsort" id="currentsort" value="@ViewData["Sort"].ToString()" />*@
    <div class="card mb-4 wow d-print-none">
        <div class="card-body row justify-content-between align-items-center py-2">
            <div class="col-12 col-md-4">
                <h5 class="mb-2 mb-sm-0 pt-1">
                    Listado de tikects
                </h5>
            </div>

            <div class="col-12 col-md-8 text-right d-flex justify-content-end">
                <a asp-action="Create" asp-controller="Tikects" class="btn btn-secondary btn-sm text-nowrap">Nuevo <i class="fas fa-plus ml-2"></i>
                </a>
                <button type="submit" class="btn btn-grey btn-sm text-nowrap" asp-action="ExportPdf" asp-controller="Tikects">
                    Imprimir <i class="fas fa-print ml-2"></i>
                </button>
                <button type="submit" class="btn btn-grey btn-sm text-nowrap" asp-action="ExportCsv" asp-controller="Tikects">
                    Exportar <i class="fas fa-file-csv ml-2"></i>
                </button>
            </div>
        </div>
    </div>

    @foreach (Tikect item in Model)
    {
        if (listaTikects.Find(f=> f.tiendaID == item.tiendaID )==null)
        {
            listaTikects.Add(item);
        }
        else
        {
            listaTikects.Find(f => f.tiendaID == item.tiendaID).importe += item.importe; 
        }
        total += item.importe;
    }

    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-body ">
                <div class="row">
                    <div class="col-5 col-md-4">
                        <div class="icon-big text-center icon-warning">
                            <img src="~/riquisimo-_1_.ico" />
                        </div>
                    </div>
                    <div class="col-7 col-md-8">
                        <div class="numbers">
                            <p class="card-category">Total mes</p>
                            <p class="card-title">@total.ToString("C")</p><p>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer ">
                <hr>
                <div class="stats">
                    <i class="fa fa-calendar-o"></i>
                    SUMA TOTAL
                </div>
            </div>
        </div>
    </div>

    @foreach (Tikect item in listaTikects)
    {
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-body ">
                    <div class="row">
                        <div class="col-5 col-md-4">
                            <div class="icon-low text-center icon-warning">
                                <img src="~/Mercadona.ico" />
                            </div>
                        </div>
                        <div class="col-7 col-md-8">
                            <div class="numbers">
                                <p class="card-category">Total mes</p>
                            <p class="card-title">@item.importe.ToString("C")</p><p>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer ">
                    <hr>
                    <div class="stats">
                        <i class="fa fa-calendar-o"></i>
                            @item.tienda.nombre
                    </div>
                </div>
            </div>
        </div>
    }



    <div class="form-row">
        <div class="form-group col-md-1">
            @Html.LabelFor(f => filter.FechaDesde, new { @class = "small" })
            @Html.EditorFor(f => filter.FechaDesde, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(f => filter.FechaDesde, "", new { @class = "text-danger small" })
        </div>
        <div class="form-group col-md-1">
            @Html.LabelFor(f => filter.FechaHasta, new { @class = "small" })
            @Html.EditorFor(f => filter.FechaHasta, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(f => filter.FechaHasta, "", new { @class = "text-danger small" })
        </div>
        @*<div class="form-group col-md-3">
            @Html.LabelFor(f => filter.idTienda, new { @class = "small" })
            @Html.DropDownListFor(f => filter.idTienda, new SelectList(ViewBag.Tiendas, "Id", "nombre"), "-Seleccionar-", new { @class = "form-control form-control-sm select2" })
            @Html.ValidationMessageFor(f => filter.idTienda, "", new { @class = "text-danger small" })
        </div>*@        
        <div class="form-group col-md-3 text-right">
            <br />
            <button type="submit" id="btnFiltrar" class="btn btn-sm btn-blue-grey">Filtrar <i class="fas fa-search ml-2"></i></button>
            <a href="@Url.Action("Index")" class="btn btn-sm btn-grey">Limpiar <i class="fas fa-eraser ml-2"></i></a>
        </div>
    </div>
    <hr />
    @*<partial name="_Pager" model="pager" />*@
    @if (Model != null && Model.Any())
    {
        <div class="table-responsive mt-2">
            <table class="table table-sm table-hover table-striped bg-white">
                <thead class="font-weight-bolder">
                    <tr>
                        <th scope="col" class="text-left px-0">
                            @{
                                th = new TableHeaderSortable() { Property = "Tienda", Display = Html.DisplayNameFor(f => f.tienda.nombre).ToString(), CurrentSort = ViewData["Sort"].ToString() };
                            }
                            <partial name="_TableHeaderSortable" model="th" />
                        </th>
                        <th scope="col" class="text-center px-0">
                            @{
                                th = new TableHeaderSortable() { Property = "Fecha movimiento", Display = Html.DisplayNameFor(f => f.FechaTikect).ToString(), CurrentSort = ViewData["Sort"].ToString() };
                            }
                            <partial name="_TableHeaderSortable" model="th" />
                        </th>
                        <th scope="col" class="text-right px-0">
                            @{
                                th = new TableHeaderSortable() { Property = "Importe", Display = Html.DisplayNameFor(f => f.importe).ToString(), CurrentSort = ViewData["Sort"].ToString() };
                            }
                            <partial name="_TableHeaderSortable" model="th" />
                        </th>                        
                    </tr>
                </thead>
                <tbody>
                @foreach (Tikect item in Model)
                {
                    <tr>
                        <td class="text-left">@item.tienda.nombre</td>
                        <td class="text-center">@item.FechaTikect.ToShortDateString()</td>
                        <td class="text-right">@item.importe.ToString("C")</td>
                        <td class="text-right text-nowrap">
                            <a class="text-info mx-2" href="@Url.Action("Edit", "Tikects", new { Id = item.Id })">
                                <i class="fas fa-pencil-alt"></i>
                            </a>
                            <a class="text-danger mr-2" asp-controller="Tikects" asp-action="Delete" asp-route-id="@item.Id" onclick="return confirm('¿Está seguro de que quiere eliminar este registro?');">
                                <i class="fas fa-times"></i>
                            </a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <partial name="_Empty" model="string.Empty" />
    }
    @*<partial name="_Pager" model="pager" />*@
</form>
@section Styles
    {
    <link href="~/lib/paper-dashboard-master/assets/css/paper-dashboard.css" rel="stylesheet" />
    <link href="~/lib/paper-dashboard-master/assets/css/paper-dashboard.min.css" rel="stylesheet" />
    <a href="~/lib/paper-dashboard-master/assets/css/paper-dashboard.css.map">~/lib/paper-dashboard-master/assets/css/paper-dashboard.css.map</a>
}