@inject Microsoft.Extensions.Options.IOptions<AppSettings> AppSettings
@using Ferpuser.Models.Core
@using Ferpuser.Models.ViewModels
@model InformeCarteraObraViewModel
@{
    ViewData["OcultarBarraTareasLayout"] = true;
    ViewData["OneCard"] = false;
    ViewData["Select2"] = true;
    var contadorItems = 0;
    string TipoCosteCode = string.Empty;
}

@section Styles
{
    <link href="/css/site.css" rel="stylesheet" />
    <style type="text/css" media="print">
        @@page {
            size: landscape;
        }

        #divResultados th, td {
            font-size: 0.5rem !important;
            padding: 0px !important;
        }
    </style>
}

<form method="post">

    <div class="card mb-4 wow d-print-none">
        <div class="card-body row justify-content-between align-items-center py-2">
            <div class="col-12 col-md-4">
                <h5 class="mb-2 mb-sm-0 pt-1">
                    Cartera Obra
                </h5>
            </div>
            <div class="col-12 col-md-8 text-right d-flex justify-content-end">
                @if (Model != null) // && Model.ItemsDirectos != null && Model.ItemsDirectos.Any())
                {
                    <div class="col-12 col-md-8 text-right d-flex justify-content-end">
                        <button class="btn btn-grey btn-sm text-nowrap" onclick="window.print();">
                            Imprimir informe <i class="fas fa-print ml-2"></i>
                        </button>
                    </div>
@*                    <button type="submit" class="btn btn-grey btn-sm text-nowrap" asp-action="ExportPdf" asp-controller="InformeCarteraObra">
                            Imprimir <i class="fas fa-print ml-2"></i>
                        </button>*@
                    <button type="submit" class="btn btn-grey btn-sm text-nowrap" asp-action="ExportCsv" asp-controller="InformeCarteraObra">
                        Exportar <i class="fas fa-file-csv ml-2"></i>
                    </button>
                }
            </div>
        </div>
    </div>

    <div class="form-row d-print-none">
        <div class="form-group col-md-2">
            @Html.LabelFor(f => f.Month, new { @class = "small" })
            @Html.EditorFor(f => f.Month)
            @Html.ValidationMessageFor(f => f.Month, "", new { @class = "text-danger small" })
        </div>
        <div class="form-group col-md-2">
            @Html.LabelFor(f => f.Year, new { @class = "small" })
            @Html.EditorFor(f => f.Year, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
            @Html.ValidationMessageFor(f => f.Year, "", new { @class = "text-danger small" })
        </div>
        <div class="form-group col-md-8 text-right">
            <br />
            <button type="submit" id="btnFiltrar" class="btn btn-sm btn-blue-grey">Filtrar <i class="fas fa-search ml-2"></i></button>
            <a href="@Url.Action("Index","InformeCarteraObra")" class="btn btn-sm btn-grey">Limpiar <i class="fas fa-eraser ml-2"></i></a>
        </div>
    </div>

    <div class="d-none d-print-block small">
        <div class="row">
            <div class="col-1">
                <img src="~/img/logo_informes.png" style="width:100%" />
            </div>
            <div class="col-11">
                <h3 class="font-weight-bold">@AppSettings.Value.Empresa.ToUpper()</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                @if (Model != null && Model.Month.HasValue)
                {
                    <span>Mes: @Model.Month</span>
                }
                @if (Model != null && Model.Year.HasValue)
                {
                    <span>Año: @Model.Year</span>
                }
            </div>
        </div>
    </div>

    <hr class="d-print-none" />

    <div id="divResultados">
        @if (Model != null && Model.Items != null)
        {
            <div class="table-responsive">
                <table class="table table-sm table-hover table-striped bg-white small">
                    <thead>
                        <tr>
                            <td class="text-center "></td>
                            <td class="text-center "></td>
                            <td class="text-center "></td>
                            <td class="text-center "></td>
                            <td class="text-center "></td>
                            <td class="font-weight-bold text-right ">Cartera Obra</td>
                            <td class="font-weight-bold text-left "> a fecha: </td>
                            <td class="font-weight-bold text-left " >@Model.Month - @Model.Year</td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold text-center border">CODIGO</td>
                            <td class="font-weight-bold text-center border">NOMBRE</td>
                            <td class="font-weight-bold text-center border">CLIENTE</td>
                            <td class="font-weight-bold text-center border">PRESUPUESTO</td>
                            <td class="font-weight-bold text-center border">EJECUTADO</td>
                            <td class="font-weight-bold text-center border">RESULTADO</td>
                            <td class="font-weight-bold text-center border">%</td>
                            <td class="font-weight-bold text-center ">PENDIENTE</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Items)
                        {
                            <tr>
                                <td class="text-center border">@item.Number.ToString()</td>
                                <td class="text-left border">@item.Name.ToString()</td>
                                <td class="text-left border">@item.NombreCliente?.ToString()</td>
                                <td class="text-right border">@item.ImportePresupuesto.ToString("N2")</td>
                                <td class="text-right border">@item.ImporteEjecutado.ToString("N2")</td>
                                <td class="text-right border">@item.ImporteResultado.ToString("N2")</td>
                                <td class="text-right border">@item.ImportePorcentaje.ToString("N2") %</td>
                                <td class="text-right ">@item.ImportePendiente.ToString("N2")</td>
                            </tr>
                            <input type="hidden" id="Items[@contadorItems].Number" name='Items[@contadorItems].Number' value="@item.Number" />
                            <input type="hidden" id="Items[@contadorItems].Name" name='Items[@contadorItems].Name' value="@item.Name" />
                            <input type="hidden" id="Items[@contadorItems].NombreCliente" name='Items[@contadorItems].NombreCliente' value="@item.NombreCliente" />                                          
                            <input type="hidden" id="Items[@contadorItems].ImportePresupuesto" name='Items[@contadorItems].ImportePresupuesto' value="@item.ImportePresupuesto" />
                            <input type="hidden" id="Items[@contadorItems].ImporteEjecutado" name='Items[@contadorItems].ImporteEjecutado' value="@item.ImporteEjecutado" />
                            <input type="hidden" id="Items[@contadorItems].ImporteResultado" name='Items[@contadorItems].ImporteResultado' value="@item.ImporteResultado" />
                            <input type="hidden" id="Items[@contadorItems].ImportePorcentaje" name='Items[@contadorItems].ImportePorcentaje' value="@item.ImportePorcentaje" />
                            <input type="hidden" id="Items[@contadorItems].ImportePendiente" name='Items[@contadorItems].ImportePendiente' value="@item.ImportePendiente" />
                            contadorItems++;
                        }
                        <tr>
                            <td class="text-right border font-weight-bold"></td>
                            <td class="text-right border font-weight-bold"></td>
                            <td class="text-right border font-weight-bold">TOTAL</td>
                            <td class="text-right border font-weight-bold">@Model.TotalPresupuesto.ToString("N2")</td>
                            <td class="text-right border font-weight-bold">@Model.TotalEjecutado.ToString("N2")</td>
                            <td class="text-right border font-weight-bold">@Model.TotalResultado.ToString("N2")</td>
                            <td/>
@*                            <td class="text-right border font-weight-bold">@Model.TotalPorcentaje.ToString("N2") %</td>
*@                            <td class="text-right font-weight-bold">@Model.TotalPendiente.ToString("N2")</td>
                        </tr>
                        <input type="hidden" id="TotalPresupuesto" name='TotalPresupuesto' value="@Model.TotalPresupuesto" />
                        <input type="hidden" id="TotalEjecutado" name='TotalEjecutado' value="@Model.TotalEjecutado" />
                        <input type="hidden" id="TotalResultado" name='TotalResultado' value="@Model.TotalResultado" />
                        <input type="hidden" id="TotalPorcentaje" name='TotalPorcentaje' value="@Model.TotalPorcentaje" />
                        <input type="hidden" id="TotalPendiente" name='TotalPendiente' value="@Model.TotalPendiente" />
                    </tbody>
                </table>
            </div>
           
            }
            else
            {
            <partial name="_Empty" model="string.Empty" />
            }
    </div>

</form>
