@model Ferpuser.Models.ViewModels.Credentials
@using Ferpuser.ViewFunctions
@{
    Layout = null;
    var width = 70;
    if (ViewBag.IsEnvelope)
    {
        width = 105;
    }
    var height = 34.75;
    if (ViewBag.IsWallet)
    {
        height = 29.75;
    }
    else if (ViewBag.IsEnvelope)
    {
        height = 38.25;
    }


    var pageMargin = 8.5;
    if (ViewBag.IsWallet)
    {
        pageMargin = 13.5;
    }
    else if (ViewBag.IsEnvelope)
    {
        pageMargin = 0;
    }
    var rows = 8;
    if (ViewBag.IsWallet)
    {
        rows = 9;
    }

    var cols = 3;
    if (ViewBag.IsEnvelope)
    {
        cols = 2;
    }
    var perPage = rows * cols;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Credenciales</title>


    <style>
        html, body {
            font-family: 'Century Gothic';
            margin: 0px;
            @{
                var fontSize = 16;
                if (ViewBag.IsEnvelope)
                {
                    fontSize = 14;
                }
            }
            font-size: @(fontSize)pt;

            font-weight: bold;
            height: 297mm;
            margin: 0;
            padding: 0;
        }

        table {
            border-collapse: collapse;
            page-break-after: always;
            margin-top: @(pageMargin.ToString().Replace(",", "."))mm;
        }

        tr {
            @if (!ViewBag.IsEnvelope)
            {
                @:text-align: center;
            }
            page-break-inside: avoid;
        }

        td {
            border: 0px black solid;
        }

        .cell-inner {
            min-width: @(width.ToString().Replace(",", "."))mm;
            max-width: @(width.ToString().Replace(",", "."))mm;
            width: @(width.ToString().Replace(",", "."))mm;
            min-height: @(height.ToString().Replace(",", "."))mm;
            max-height: @(height.ToString().Replace(",", "."))mm;
            height: @(height.ToString().Replace(",", "."))mm;
            border: 0px white solid;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            
        }

        .small {
            font-size: @((int)(fontSize / 1.14285714286))pt;
        }

        .smaller {
            font-size: @((int)(fontSize / 1.23076923077))pt;
        }
        .smallest {
            font-size: @((int)(fontSize / 1.4))pt;
        }

        .barcode {
            font-family: C39HrP48DhTt, cursive;
            font-size: 36pt;
            font-weight: normal;
        }
        .address {
            font-weight: normal;
        }
        p {
            margin: 0;
            @if (ViewBag.IsEnvelope)
            {                
                @:margin-top: -5mm;
                @:margin-bottom: -5mm;
            }
        }
        .inner-address {
            padding-left: 5mm;
        }
        .inner-address p:first-child {
            margin-top: 2.5mm;
        }
        .inner-address p:last-child {
            margin-bottom: 2.5mm;
        }
    </style>
</head>
<body>
    @{
        var idx = 0;
        var count = Model.Registrations.Count();
    }
    @for (int i = 0; i < perPage && idx < count; i++)
    {
        <div class="break">
            <table>
                <tbody>
                    @for (int j = 0; j < rows && idx < count; j++)
                    {
                        <tr>
                            @for (int k = 0; k < cols && idx < count; k++)
                            {
                                <td>
                                    @{
                                        var r = Model.Registrations[idx];
                                        idx++;
                                    }
                                    @if (!ViewBag.IsEnvelope)
                                    {

                                        var surnames = r.Registrant.Surnames;
                                        var name = r.Registrant.Treatment.Name + " " + r.Registrant.Name;
                                        int breaks = 0;
                                        if (surnames.Length > 27)
                                        {
                                            breaks++;
                                        }
                                        if (name.Length > 27)
                                        {
                                            breaks++;
                                        }
                                        var smallClass = "";
                                        if (breaks == 1)
                                        {
                                            smallClass = "small";
                                        }
                                        else if (breaks == 2)
                                        {
                                            smallClass = "smaller";
                                        }
                                        <div class="cell-inner @smallClass">
                                            <p>
                                                @surnames
                                            </p>
                                            <p>
                                                @name
                                            </p>
                                            @if (ViewBag.UseBarcode)
                                            {
                                                <span class="barcode">
                                                    *@Model.Congress.Code@ViewHelpers.PadCongress(r.Number)*
                                                </span>
                                            }
                                            else if (ViewBag.IsApp)
                                            {
                                                <span>
                                                    Código APP: <span class="bold">@ViewHelpers.PadCongress(r.Number)</span>
                                                </span>
                                            }
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="cell-inner inner-address">
                                            @{
                                                var titleClass = "";
                                                if (r.Client != null && r.Client.BusinessName != null)
                                                {

                                                    if (r.Client.BusinessName.Length > 45)
                                                    {
                                                        titleClass = "smallest";
                                                    } else if (r.Client.BusinessName.Length > 27)
                                                    {
                                                        titleClass = "small";
                                                    }
                                                }
                                            }
                                            <p class="@titleClass">
                                                @if (r.Client != null)
                                                {
                                                    @r.Client.BusinessName
                                                }
                                            </p>
                                            <p class="small">
                                                Att. Contabilidad
                                            </p>
                                            <p class="smaller address">
                                                @if (r.BillingLocation != null)
                                                {
                                                    @r.BillingLocation.Address
                                                }
                                            </p>
                                            <p class="smaller address">
                                                @if (r.BillingLocation != null)
                                                {
                                                    @r.BillingLocation.ZipCode@:-@r.BillingLocation.City
                                                }
                                            </p>
                                            <p class="smaller address">
                                                @if (r.BillingLocation != null)
                                                {
                                                    @:(@r.BillingLocation.Province)
                                                }
                                            </p>

                                        </div>
                                    }

                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    <script>
        window.print()
    </script>
</body>
</html>
