@using Ferpuser.Models.Core
@using Ferpuser.BLL.Filters
@model IEnumerable<Ferpuser.Models.ArticulosAlmacen>
@{
    ViewData["OcultarBarraTareasLayout"] = true;
    ViewData["OneCard"] = false;
    ViewData["Select2"] = true;

    TableHeaderSortable th;
    var pager = ViewData["Pager"];
    ArticulosAlmacenFilter filter = ViewData["Filter"] as ArticulosAlmacenFilter;
    if (filter == null)
        filter = new ArticulosAlmacenFilter();

}

<form>

    <input type="hidden" name="currentsort" id="currentsort" value="@ViewData["Sort"].ToString()" />

    <div class="card mb-4 wow d-print-none">
        <div class="card-body row justify-content-between align-items-center py-2">
            <div class="col-12 col-md-4">
                <h5 class="mb-2 mb-sm-0 pt-1">
                    Listado de Artículos Almacen
                </h5>
            </div>
            <div class="col-12 col-md-8 text-right d-flex justify-content-end">
                <a asp-action="Create" asp-controller="ArticulosAlmacen" class="btn btn-secondary btn-sm text-nowrap">Nuevo <i class="fas fa-plus ml-2"></i>
                </a>
                <button type="submit" class="btn btn-grey btn-sm text-nowrap" asp-action="ExportPdf" asp-controller="ArticulosAlmacen">
                    Imprimir <i class="fas fa-print ml-2"></i>
                </button>
                <button type="submit" class="btn btn-grey btn-sm text-nowrap" asp-action="ExportCsv" asp-controller="ArticulosAlmacen">
                    Exportar <i class="fas fa-file-csv ml-2"></i>
                </button>
            </div>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-2">
            @Html.LabelFor(f => filter.ProductCode, new { @class = "small" })
            @Html.EditorFor(f => filter.ProductCode, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(f => filter.ProductCode, "", new { @class = "text-danger small" })
        </div>
        <div class="form-group col-md-2">
            @Html.LabelFor(f => filter.ProductDescription, new { @class = "small" })
            @Html.EditorFor(f => filter.ProductDescription, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(f => filter.ProductDescription, "", new { @class = "text-danger small" })
        </div>
        <div class="form-group col-md-3">
            @Html.LabelFor(f => filter.CentroCosteId, new { @class = "small" })
            @Html.DropDownListFor(f => filter.CentroCosteId, new SelectList(ViewBag.CentrosCosteArtAlma, "Id", "Display"), "-Seleccionar-", new { @class = "form-control form-control-sm select2" })
            @Html.ValidationMessageFor(f => filter.CentroCosteId, "", new { @class = "text-danger small" })
        </div>
        <div class="form-group col-md-3 text-right">
            <br />
            <button type="submit" id="btnFiltrar" class="btn btn-sm btn-blue-grey">Filtrar <i class="fas fa-search ml-2"></i></button>
            <a href="@Url.Action("Index")" class="btn btn-sm btn-grey">Limpiar <i class="fas fa-eraser ml-2"></i></a>
        </div>
    </div>
    <hr />

    <partial name="_Pager" model="pager" />
    @if (Model != null && Model.Any())
    {
        <div class="table-responsive mt-2">
            <table class="table table-sm table-hover table-striped bg-white">
                <thead class="font-weight-bolder">
                    <tr>
                        <th scope="col" class="text-left px-0">
                            @{ th = new TableHeaderSortable() { Property = "ProductCode", Display = Html.DisplayNameFor(f => f.ProductCode).ToString(), CurrentSort = ViewData["Sort"].ToString() }; }
                            <partial name="_TableHeaderSortable" model="th" />
                        </th>
                        <th scope="col" class="text-left px-0">
                            @{ th = new TableHeaderSortable() { Property = "ProductDescription", Display = Html.DisplayNameFor(f => f.ProductDescription).ToString(), CurrentSort = ViewData["Sort"].ToString() }; }
                            <partial name="_TableHeaderSortable" model="th" />
                        </th>
                        <th scope="col" class="text-center px-0">
                            @{ th = new TableHeaderSortable() { Property = "ProductDescriptionExt", Display = Html.DisplayNameFor(f => f.ProductDescriptionExt).ToString(), CurrentSort = ViewData["Sort"].ToString() }; }
                            <partial name="_TableHeaderSortable" model="th" />
                        </th>
                        <th scope="col" class="text-center px-0">
                            @{ th = new TableHeaderSortable() { Property = "CentroCosteId", Display = Html.DisplayNameFor(f => f.CentroCosteId).ToString(), CurrentSort = ViewData["Sort"].ToString() }; }
                            <partial name="_TableHeaderSortable" model="th" />
                        </th>
                        <th scope="col" class="text-center px-0">
                            @{ th = new TableHeaderSortable() { Property = "Rate", Display = Html.DisplayNameFor(f => f.Rate).ToString(), CurrentSort = ViewData["Sort"].ToString() }; }
                            <partial name="_TableHeaderSortable" model="th" />
                        </th>
                        <th scope="col" class="text-center px-0">
                            @{ th = new TableHeaderSortable() { Property = "Rate2", Display = Html.DisplayNameFor(f => f.Rate2).ToString(), CurrentSort = ViewData["Sort"].ToString() }; }
                            <partial name="_TableHeaderSortable" model="th" />
                        </th>
                        <th scope="col" class="text-center px-0">
                            @{ th = new TableHeaderSortable() { Property = "Price", Display = Html.DisplayNameFor(f => f.Price).ToString(), CurrentSort = ViewData["Sort"].ToString() }; }
                            <partial name="_TableHeaderSortable" model="th" />
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (ArticulosAlmacen item in Model)
                        {
                        <tr>
                            @*<td class="text-left">@item.Id</td>*@
                            <td class="text-left">@item.ProductCode</td>
                            <td class="text-left">@item.ProductDescription</td>
                            <td class="text-center">@item.ProductDescriptionExt</td>
                            <td class="text-center">@item.CentroCoste.NivelAnalitico2</td>
                            <td class="text-center">@item.Rate</td>
                            <td class="text-center">@item.Rate2</td>
                            <td class="text-center">@item.Price</td>
                            <td class="text-right text-nowrap">
                            <a class="text-info mx-2" href="@Url.Action("Edit", "ArticulosAlmacen", new { Id = item.Id })">
                                <i class="fas fa-pencil-alt"></i>
                            </a>
                            <a class="text-danger mr-2" asp-controller="ArticulosAlmacen" asp-action="Delete" asp-route-id="@item.Id" onclick="return confirm('¿Está seguro de que quiere eliminar este registro?');">
                                <i class="fas fa-times"></i>
                            </a>
                        </td>
                        </tr>
                        }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <partial name="_Empty" model="string.Empty" />
    }

    <partial name="_Pager" model="pager" />

</form>
