@using Ferpuser.Models.Core
@using Ferpuser.BLL.Filters
@using Ferpuser.Models
@model IEnumerable<PartesInternosAlmacen>
@{
    ViewData["OcultarBarraTareasLayout"] = true;
    ViewData["OneCard"] = false;
    ViewData["Select2"] = true;

    TableHeaderSortable th;
    var pager = ViewData["Pager"];
    PartesInternosAlmacenFilter filter = new PartesInternosAlmacenFilter();
}

<form>

    <input type="hidden" name="currentsort" id="currentsort" value="@ViewData["Sort"].ToString()" />

    <div class="card mb-4 wow d-print-none">
        <div class="card-body row justify-content-between align-items-center py-2">
            <div class="col-12 col-md-4">
                <h5 class="mb-2 mb-sm-0 pt-1">
                    Listado de partes internos almacen
                </h5>
            </div>
            <div class="col-12 col-md-8 text-right d-flex justify-content-end">
                <a asp-action="Create" asp-controller="PartesInternosAlmacen" class="btn btn-secondary btn-sm text-nowrap">Nuevo <i class="fas fa-plus ml-2"></i>
                </a>
                <button type="submit" class="btn btn-grey btn-sm text-nowrap" asp-action="ExportPdf" asp-controller="PartesInternosAlmacen">
                    Imprimir <i class="fas fa-print ml-2"></i>
                </button>
                <button type="submit" class="btn btn-grey btn-sm text-nowrap" asp-action="ExportCsv" asp-controller="PartesInternosAlmacen">
                    Exportar <i class="fas fa-file-csv ml-2"></i>
                </button>
            </div>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-1">
            @Html.LabelFor(f => filter.FechaDesde, new { @class = "small" })
            @Html.EditorFor(f => filter.FechaDesde, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(f => filter.FechaDesde, "", new { @class = "text-danger small" })
        </div>
        <div class="form-group col-md-1">
            @Html.LabelFor(f => filter.FechaHasta, new { @class = "small" })
            @Html.EditorFor(f => filter.FechaHasta, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(f => filter.FechaHasta, "", new { @class = "text-danger small" })
        </div>
        <div class="form-group col-md-3">
            @Html.LabelFor(f => filter.ArticulosAlmacenId, new { @class = "small" })
            @Html.DropDownListFor(f => filter.ArticulosAlmacenId, new SelectList(ViewBag.ArticulosAlmacen, "Id", "Display"), "-Seleccionar-", new { @class = "form-control form-control-sm select2" })
            @Html.ValidationMessageFor(f => filter.ArticulosAlmacenId, "", new { @class = "text-danger small" })
        </div>        
        <div class="form-group col-md-3">
            @Html.LabelFor(f => filter.DestinoId, new { @class = "small" })
            @Html.DropDownListFor(f => filter.DestinoId, new SelectList(ViewBag.CentrosCoste, "Id", "Display"), "-Seleccionar-", new { @class = "form-control form-control-sm select2" })
            @Html.ValidationMessageFor(f => filter.DestinoId, "", new { @class = "text-danger small" })
        </div>
        <div class="form-group col-md-3 text-right">
            <br />
            <button type="submit" id="btnFiltrar" class="btn btn-sm btn-blue-grey">Filtrar <i class="fas fa-search ml-2"></i></button>
            <a href="@Url.Action("Index")" class="btn btn-sm btn-grey">Limpiar <i class="fas fa-eraser ml-2"></i></a>
        </div>
    </div>

    <hr />

    <partial name="_Pager" model="pager" />
    @if (Model != null && Model.Any())
    {
        <div class="table-responsive mt-2">
            <table class="table table-sm table-hover table-striped bg-white">
                <thead class="font-weight-bolder">
                    <tr>
                        <th scope="col" class="text-left px-0">
                            @{ th = new TableHeaderSortable() { Property = "fecha", Display = Html.DisplayNameFor(f => f.fecha).ToString(), CurrentSort = ViewData["Sort"].ToString() }; }
                            <partial name="_TableHeaderSortable" model="th" />
                        </th>
                        <th scope="col" class="text-left px-0">
                            @{ th = new TableHeaderSortable() { Property = "ArticulosAlmacenId", Display = Html.DisplayNameFor(f => f.ArticulosAlmacenId).ToString(), CurrentSort = ViewData["Sort"].ToString() }; }
                            <partial name="_TableHeaderSortable" model="th" />
                        </th>
                        <th scope="col" class="text-left px-0">
                            @{ th = new TableHeaderSortable() { Property = "ArticulosAlmacen", Display = Html.DisplayNameFor(f => f.ArticulosAlmacen.ProductDescription).ToString(), CurrentSort = ViewData["Sort"].ToString() }; }
                            <partial name="_TableHeaderSortable" model="th" />
                        </th>
                        <th scope="col" class="text-left px-0">
                            @{ th = new TableHeaderSortable() { Property = "DestinoId", Display = Html.DisplayNameFor(f => f.DestinoId).ToString(), CurrentSort = ViewData["Sort"].ToString() }; }
                            <partial name="_TableHeaderSortable" model="th" />
                        </th>                        
                        <th scope="col" class="text-right px-0">
                            @{ th = new TableHeaderSortable() { Property = "TariffTypeUnits", Display = Html.DisplayNameFor(f => f.TariffTypeUnits).ToString(), CurrentSort = ViewData["Sort"].ToString() }; }
                            <partial name="_TableHeaderSortable" model="th" />
                        </th>                        
                        <th scope="col" class="text-right px-0">
                            @{ th = new TableHeaderSortable() { Property = "TariffTypeUnits2", Display = Html.DisplayNameFor(f => f.TariffTypeUnits2).ToString(), CurrentSort = ViewData["Sort"].ToString() }; }
                            <partial name="_TableHeaderSortable" model="th" />
                        </th>                        
                        <th scope="col" class="text-right px-0">
                            @{ th = new TableHeaderSortable() { Property = "Price", Display = Html.DisplayNameFor(f => f.Price).ToString(), CurrentSort = ViewData["Sort"].ToString() }; }
                            <partial name="_TableHeaderSortable" model="th" />
                        </th>                        
                        <th scope="col" class="text-right px-0">
                            @{ th = new TableHeaderSortable() { Property = "Amount", Display = Html.DisplayNameFor(f => f.Amount).ToString(), CurrentSort = ViewData["Sort"].ToString() }; }
                            <partial name="_TableHeaderSortable" model="th" />
                        </th>                        
                    </tr>
                </thead>
                <tbody>
                    @foreach (PartesInternosAlmacen item in Model)
                    {
                        <tr>
                            <td class="text-left">@item.fecha.ToShortDateString()</td>
                            <td class="text-left">@item.ArticulosAlmacen.ProductCode</td>
                            <td class="text-left">@item.ArticulosAlmacen.ProductDescription</td>
                            <td class="text-left">@item.Destino.Display</td>
                            <td class="text-right">@item.ArticulosAlmacen.Rate.ToString() - @item.TariffTypeUnits.ToString()</td>
                            <td class="text-right">@item.ArticulosAlmacen.Rate2.ToString() - @item.TariffTypeUnits2.ToString()</td>
                            <td class="text-right">@item.Price.ToString("C")</td>
                            <td class="text-right">@item.Amount.ToString("C")</td>
                            <td class="text-right text-nowrap">
                                <a class="text-info mx-2" href="@Url.Action("Edit", "PartesInternosAlmacen", new { Id = item.Id })">
                                    <i class="fas fa-pencil-alt"></i>
                                </a>
                                <a class="text-danger mr-2" asp-controller="PartesInternosAlmacen" asp-action="Delete" asp-route-id="@item.Id" onclick="return confirm('¿Está seguro de que quiere eliminar este registro?');">
                                    <i class="fas fa-times"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <partial name="_Empty" model="string.Empty" />
    }

    <partial name="_Pager" model="pager" />

</form>
