@using Ferpuser.Models.Core
@using Ferpuser.BLL.Filters
@model IEnumerable<CentroCoste>
@{
    ViewData["OcultarBarraTareasLayout"] = true;
    ViewData["OneCard"] = false;
    ViewData["Select2"] = true;

    TableHeaderSortable th;
    var pager = ViewData["Pager"];
    CentroCosteFilter filter = new CentroCosteFilter();
}

<form>

    <input type="hidden" name="currentsort" id="currentsort" value="@ViewData["Sort"].ToString()" />

    <div class="card mb-4 wow d-print-none">
        <div class="card-body row justify-content-between align-items-center py-2">
            <div class="col-12 col-md-4">
                <h5 class="mb-2 mb-sm-0 pt-1">
                    Listado de centros de coste
                </h5>
            </div>
            <div class="col-12 col-md-8 text-right d-flex justify-content-end">
                <a asp-action="Create" asp-controller="CentroCoste" class="btn btn-secondary btn-sm text-nowrap">Nuevo <i class="fas fa-plus ml-2"></i></a>
            </div>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-2">
            @Html.LabelFor(f => filter.NivelAnalitico1, new { @class = "small" })
            @Html.EditorFor(f => filter.NivelAnalitico1, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(f => filter.NivelAnalitico1, "", new { @class = "text-danger small" })
        </div>
        <div class="form-group col-md-2">
            @Html.LabelFor(f => filter.NivelAnalitico2, new { @class = "small" })
            @Html.EditorFor(f => filter.NivelAnalitico2, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(f => filter.NivelAnalitico2, "", new { @class = "text-danger small" })
        </div>
        <div class="form-group col-md-4">
            @Html.LabelFor(f => filter.Nombre, new { @class = "small" })
            @Html.EditorFor(f => filter.Nombre, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(f => filter.Nombre, "", new { @class = "text-danger small" })
        </div>
        <div class="form-group col-md-4">
            @Html.LabelFor(f => filter.TipoCentroCosteId, new { @class = "small" })
            @Html.DropDownListFor(f => filter.TipoCentroCosteId, new SelectList(ViewBag.TiposCentroCoste, "Id", "Descripcion"), "-Seleccionar-", new { @class = "form-control form-control-sm select2" })
            @Html.ValidationMessageFor(f => filter.TipoCentroCosteId, "", new { @class = "text-danger small" })
        </div>
    </div>

    <div class="form-row">
        <div class="col text-right">
            <button type="submit" id="btnFiltrar" class="btn btn-sm btn-blue-grey">Filtrar <i class="fas fa-search ml-2"></i></button>
            <a href="@Url.Action("Index","CentroCoste")" class="btn btn-sm btn-grey">Limpiar <i class="fas fa-eraser ml-2"></i></a>
        </div>
    </div>

    <hr />

    <partial name="_Pager" model="pager" />
    @if (Model != null && Model.Any())
    {
        <div class="table-responsive mt-2">
            <table class="table table-sm table-hover table-striped bg-white">
                <thead class="font-weight-bolder">
                    <tr>
                        <th scope="col" class="text-left px-0">
                            @{ th = new TableHeaderSortable() { Property = "NivelAnalitico1", Display = Html.DisplayNameFor(f => f.NivelAnalitico1).ToString(), CurrentSort = ViewData["Sort"].ToString() }; }
                            <partial name="_TableHeaderSortable" model="th" />
                        </th>
                        <th scope="col" class="text-left px-0">
                            @{ th = new TableHeaderSortable() { Property = "NivelAnalitico2", Display = Html.DisplayNameFor(f => f.NivelAnalitico2).ToString(), CurrentSort = ViewData["Sort"].ToString() }; }
                            <partial name="_TableHeaderSortable" model="th" />
                        </th>
                        <th scope="col" class="text-left px-0">
                            @{ th = new TableHeaderSortable() { Property = "Nombre", Display = Html.DisplayNameFor(f => f.Nombre).ToString(), CurrentSort = ViewData["Sort"].ToString() }; }
                            <partial name="_TableHeaderSortable" model="th" />
                        </th>
                        <th scope="col" class="text-left px-0">
                            @{ th = new TableHeaderSortable() { Property = "TipoCentroCoste.Descripcion", Display = Html.DisplayNameFor(f => f.TipoCentroCosteId).ToString(), CurrentSort = ViewData["Sort"].ToString() }; }
                            <partial name="_TableHeaderSortable" model="th" />
                        </th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (CentroCoste item in Model)
                    {
                        <tr>
                            <td class="text-left">@item.NivelAnalitico1</td>
                            <td class="text-left">@item.NivelAnalitico2</td>
                            <td class="text-left">@item.Nombre</td>
                            <td class="text-left">@item.TipoCentroCoste.Descripcion</td>
                            <td class="text-right text-nowrap">
                                <a class="text-info mx-2" href="@Url.Action("Edit", "CentroCoste", new { Id = item.Id })">
                                    <i class="fas fa-pencil-alt"></i>
                                </a>
                                <a class="text-danger mr-2" asp-controller="CentroCoste" asp-action="Delete" asp-route-id="@item.Id" onclick="return confirm('¿Está seguro de que quiere eliminar este registro?');">
                                    <i class="fas fa-times"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <partial name="_Empty" model="string.Empty" />
    }

    <partial name="_Pager" model="pager" />

</form>
