@using Ferpuser.Models.Enums
@model CompraPedido

@{
    ViewData["OcultarBarraTareasLayout"] = true;
    ViewData["OneCard"] = false;
    ViewData["Select2"] = true;
    ViewData["Summernote"] = true;
    ViewData["Swal"] = true;

    var mail = "";
    var placeholder = "El proveedor no tiene correo electrónico establecido. Introduzca destinatario/s";
    if (ViewBag.EmailTo != null && !string.IsNullOrWhiteSpace(ViewBag.EmailTo))
    {
        placeholder = "";
        mail = ViewBag.EmailTo;
    }
}

<form method="post" id="form" enctype="multipart/form-data">

    <div class="card mb-4 wow d-print-none">
        <div class="card-body row justify-content-between align-items-center py-2">
            <div class="col-12 col-md-4">
                <h5 class="mb-2 mb-sm-0 pt-1">
                    Detalle de pedido de compra
                </h5>
            </div>
            <div class="col-12 col-md-8 text-right d-flex justify-content-end">
                @if (Model.EstadoPedido == EstadoPedido.Pendiente)
                {
                    <button type="submit" class="btn btn-secondary btn-sm text-nowrap">Guardar <i class="fas fa-save ml-2"></i></button>
                }

                @if (Model.EstadoPedido != EstadoPedido.Servido)
                {
                    <a href="@Url.Action("Create", "ComprasAlbaran", new { idPedido = Model.Id })" class="btn btn-deep-orange btn-sm text-nowrap">
                        Generar albarán <i class="fas fa-file-alt ml-2"></i>
                    </a>
                }

                <a href="@Url.Action("Create", "ComprasFactura", new { idPedido = Model.Id })" class="btn btn-deep-orange btn-sm text-nowrap">
                    Generar factura <i class="fas fa-file-alt ml-2"></i>
                </a>

                <button type="submit" class="btn btn-grey btn-sm text-nowrap" asp-action="ImprimirPedido" asp-controller="ComprasPedido" asp-route-id="Model.Id">
                    Imprimir <i class="fas fa-print ml-2"></i>
                </button>

                @*<button type="button" class="btn btn-grey btn-sm text-nowrap" id="btnEnviar">
                    Enviar <i class="fas fa-envelope ml-2"></i>
                </button>*@
                <button type="button" class="btn btn-grey btn-sm text-nowrap" id="btnMail" data-toggle="modal" data-target="#MailModal">
                    Enviar <i class="fas fa-envelope ml-2"></i>
                </button>
                <a asp-action="Index" class="btn btn-grey btn-sm text-nowrap">Volver <i class="fas fa-arrow-left ml-2"></i></a>
            </div>
        </div>
    </div>

    @Html.EditorForModel()

</form>

<!-- Modal -->
<div class="modal fade" id="MailModal" tabindex="-1" role="dialog" aria-labelledby="MailModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <form>
                <input type="hidden" name="id" id="id" value="@Model.Id" />
                <partial name="_EnviarMail" model="mail" />
               
            </form>
        </div>
    </div>
</div>

<!--<form asp-action="EnviarPedido">-->
<!-- Modal -->
<!--<div class="modal fade" id="enviarModal" tabindex="-1" aria-labelledby="enviarModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content ui-front">
                <div class="modal-header text-center">
                    ¿Desea enviar un correo de confirmación?
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col">
                            <p>Correos separados por ;</p>
                            @Html.TextBox("mailTo", null, new { @class = "form-control form-control-sm w-100" })
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col">
                            <div id="mailBody"></div>
                        </div>
                    </div>
                    </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-deep-orange btn-sm text-nowrap">Enviar <i class="fas fa-envelope ml-2"></i></button>
                    <a class="btn btn-grey btn-sm text-nowrap" data-dismiss="modal">Cancelar <i class="fas fa-times ml-2"></i></a>
                </div>
            </div>
        </div>
    </div>
</form>-->

<partial name="_ComprasPedidoScript" />

@section Styles
{
    <link rel="stylesheet" href="~/lib/jqueryui/jqueryui/jquery-ui.min.css">
}
@section Scripts
{
    <script src="~/lib/jqueryui/jqueryui/jquery-ui.min.js"></script>

    <script>
        $(function () {
            $("#btnEnviarMail").click(evt => {
                $("#divBotonera").addClass('d-none');
                $("#divSpinner").removeClass('d-none');

                fetch("/ComprasPedido/EnviarPedido/@Model.Id/", {
                    method: 'POST',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        body: $('#divMailBody').summernote('code'),
                        mails: $("#Mails").val(),
                        attachments: $("#hfFicheros").val()
                    })
                }).then(res => {
                    $("#divBotonera").removeClass('d-none');
                    $("#divSpinner").addClass('d-none');
                    console.log(res);
                    if (!res.ok) {
                        var data = res.json();
                        console.log(data);
                        data.then(function (result) {
                            console.log(result);
                            alert("Lo sentimos, el correo electrónico no ha podido ser enviado. " + result);
                        });
                        return;
                    }
                    alert("El correo electrónico ha sido enviado correctamente.");
                    window.location = window.location.href.split("#")[0];
                });
            });

        });

        $('#divMailBody').summernote(SummernoteConfig);

        function SubirDocumento() {
            const inputFichero = document.getElementById('fileDocumentacion');
            const inputID = document.getElementById('tablaID');
            var datosForm = new FormData();
            datosForm.append('tablaID', inputID.value);
            datosForm.append('fileDocumentacion', inputFichero.files[0]);
            fetch("/ComprasPedido/EnviarDocumento", {
                method: 'POST',                
                body: datosForm
            }).then(res => {
                console.log(res);
                var data = res.json();
                console.log(data);
                if (!res.ok) {
                    data.then(function (result) {
                        console.log(result);
                        alert("Lo sentimos, el fichero no se ha podido subir. " + result);
                    });
                    return;
                }
                //Recuperamos la promesa
                data.then(function (result) {
                    console.log(result);
                    //$("#hfFicheros").val($("#hfFicheros").val() + result.Path + ';' );
                    //$("#tablaDocumentos").append('<tr><td><a class="text-info" download="' + result.FileName + '" href="Url.Content("' + result.Path + '")">' + result.FileName + '</a></td></tr>');
                    $("#tablaDocumentos").append('<tr><td><a class="text-info" download="' + result.FileName + '" href="Url.Content("' + result.Path + '")">' + result.FileName + '</a></td><td class="text-right"><a href="/ComprasPedido/BorrarDocumento?IdArchivo='+result.idDoc+'&amp;IdTabla='+inputID.value+'"onclick="return confirm(\'¿Está seguro de querer borrar el documento?\')"><i class="fas fa-times ml-2"></i></a></td></tr>');
                });
            });
        }

         function SubirFichero() {
            const input = document.getElementById('Fichero');
            var datosForm = new FormData()
            datosForm.append('Fichero', input.files[0])
            
            fetch("/ComprasPedido/EnviarPedidoAdjuntarFichero", {
                method: 'POST',                
                body: datosForm
            }).then(res => {
                console.log(res);
                var data = res.json();
                console.log(data);
                if (!res.ok) {
                    data.then(function (result) {
                        console.log(result);
                        alert("Lo sentimos, el fichero no se ha podido adjuntar. " + result);
                    });
                    return;
                }
                //Recuperamos la promesa
                data.then(function (result) {
                    console.log(result);
                    $("#hfFicheros").val($("#hfFicheros").val() + result.Path + ';' );
                    $("#ulFicheros").append('<li>' + result.FileName + '</li>');
                });
            });
        }

    </script>
}

